@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee-left {
  animation: marquee-left 25s linear infinite;
}

.animate-marquee-left:hover {
  animation-play-state: paused;
}
